<html>
        <head>
            <title>Chana's website</title>
        <head>
        <body>
	<div>
		<h1><a href = ''>Chana's room</a></h1>
	{% for post in posts %}
    		<div>
        			<h1><a href="">{{ post.title }}</a></h1>
        			<p>{{ post.text|linebreaksbr }}</p>
			<p>published: {{ post.published_date }}</p>
    		</div>
	{% endfor %}
		<h2><a href = ''>my first website</a></h2>
		<p>published: 17.11.2019, 20:39</p>
	</div>
            <p>since 2019.11.17</p>
            <p>nascent</p>
        </body>
</html>